<h2>Location & Time</h2>
<strong>Country: </strong>
{{data['country']}}
<br/>

<strong>City: </strong>
{{data['city']}}
<br/>

<strong>TimeZone: </strong>
{{data['timezone']}}
<br/>

<strong>Time: </strong>
{{data['time_zone_time']}}
